
<!--<h1>Displaying list from api</h1>
delaring ngIf if passNumber=5 destroy the component
<app-list *ngIf='passNumber!=5' [count]='passNumber'></app-list>
<button (click)='changeCount()'>change count</button>-->
  <!-- <h4>Todo App</h4>
  <app-todo></app-todo> -->
  <!-- <app-about></app-about>

  <app-fav (childdata)="message=$event" [appData]="appData">
    <p class="app-fav-wrapper">this is paragraph inside app-fav which is immediate child defined in coponent html flex-direction
      we are showing this component using ng-content
    </p>
    <div>
      <ul>
        {{message}}
      </ul>
    </div>
  </app-fav> -->

  <!-- <h3>Template Driven Forms</h3>
  <app-forms-td></app-forms-td> -->

  <!-- <h3>Http</h3>
  <app-http></app-http> -->

  <h3>Pipe</h3>
  <app-pipe></app-pipe>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


