
<h1>Displaying list from api</h1>
<app-list></app-list>
  <!-- <h4>Todo App</h4>
  <app-todo></app-todo> -->
  <!-- <app-about></app-about>

  <app-fav (childdata)="message=$event" [appData]="appData">
    <p class="app-fav-wrapper">this is paragraph inside app-fav which is immediate child defined in coponent html flex-direction
      we are showing this component using ng-content
    </p>
    <div>
      <ul>
        {{message}}
      </ul>
    </div>
  </app-fav> -->
  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


